@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  padding: 50px;
}

h1 {
  font-family: "Inter", sans-serif;
  margin: 50px;
}

p {
  margin: 20px 0px;
}

.input-style {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.input-style ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

.input-style:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

:focus {
  outline: none;
}
